@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Script&display=swap");

* {
  background-color: #f6f6f9;
  font-family: "Open Sans", sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  color: #2d3142;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 1rem;
  border-bottom: solid #b0d7ff 1.5px;
  box-shadow: 4px 4px 12px rgba(184, 174, 174, 0.396);
  background-color: white;
  padding: 10px;
}
.nav h1 {
  margin: 0;
  font-family: "League Script", cursive;
  font-weight: bold;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.nav a {
  color: #272343;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  background-color: white;
}
.nav a:hover {
  color: #b0d7ff;
}

.bio-container {
  max-width: 1000px;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15%;
}

.bio-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: nowrap;
  text-align: left;
}

.text-container {
  max-width: 400px;
}

.text-container h2 {
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-style: italic;
  font-weight: normal;
}

.text-container p {
  font-size: 20px;
}

.image-container {
  flex-shrink: 0;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: solid #b0d7ff 7px;
}

@media (max-width: 768px) {
  .bio-content {
    flex-direction: column;
    text-align: center;
  }

  .image {
    width: 250px;
    height: 250px;
  }
}

.contact-me {
  position: absolute;
  font-size: 30px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

.contact-form-section {
  padding: 6rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  max-width: 600px;
  width: 100%;
}

.form-wrapper {
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #b0d7ff;
}

.form-row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: #b0d7ff;
}

.form-group {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #b0d7ff;
}

.form-group label {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #b0d7ff;
}
.contact-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid #2d3142 0.5px;
  background-color: white;
  border-radius: 10px;
}
.contact-form textarea {
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid #2d3142 0.5px;
  background-color: white;
  border-radius: 10px;
}
.form-message {
  background-color: #b0d7ff;
}

.form-message label {
  background-color: #b0d7ff;
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
}
.skills-section,
.experience-section {
  margin-top: 2rem;
  width: 100%;
}

.button {
  background-color: #b0d7ff;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #eae8ff;
}
.about-section h4 {
  font-size: 23px;
  text-shadow: 3px 3px 5px #adacb5;
}
.about-section h5 {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}
.about-section h6 {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}
.nc-news {
  margin: 5%;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #b0d7ff;
  box-sizing: border-box;
  margin: 5% auto;
}
.nc-news img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 15px auto;
  display: block;
}
.nc-news h5 {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #b0d7ff;
  font-size: 20px;
  border-bottom: solid #2d3142 0.5px;
}

.nc-news p {
  display: flex;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
  padding: 6px;
  background-color: #b0d7ff;
  font-size: 15px;
}
.nc-news a {
  display: flex;
  justify-content: center;
  background-color: #b0d7ff;
  padding: 5px;
  font-weight: bold;
}
.tech-stack {
  font-weight: bold;
}
