@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Script&display=swap");

* {
  background-image: url("./assets/ripples.png");
  font-family: "Open Sans", sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  color: #2d3142;
  scroll-behavior: smooth;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 1rem;
  background-color: white;
  background-image: none;
  border-bottom: solid #b0d7ff 1.5px;
  box-shadow: 4px 4px 12px rgba(184, 174, 174, 0.396);
}

.nav-links ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  background-image: none;
  background-color: white;
}

.nav h1 {
  margin: 0;
  font-family: "League Script", cursive;
  font-weight: bold;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 35px;
  background-image: none;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.nav ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-image: none;
}

.nav a {
  color: #272343;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  background-color: white;
  background-image: none;
}
.nav a:hover {
  color: #b0d7ff;
}
.menu-icon {
  display: none;
  font-size: 2rem;
  color: #0077cc;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
  }

  .menu-icon {
    display: block;
    background-image: none;
    color: #2d3142;
  }

  .menu-toggle:checked + .menu-icon + h1 + .nav-links {
    display: flex;
    background-image: none;
    background-color: white;
  }

  .nav h1 {
    pointer-events: none;
  }
}

.bio-container {
  max-width: 1000px;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15%;
  padding: 2rem;
  box-sizing: border-box;
  transition: all 0.6s ease-in-out;
  margin-bottom: 20%;
}

.bio-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: nowrap;
  text-align: left;
}

.text-container {
  max-width: 400px;
}

.text-container h2 {
  margin-bottom: 5%;
  font-size: 40px;
  font-weight: normal;
}

.text-container p {
  font-size: 20px;
  font-style: italic;
}

.image-container {
  flex-shrink: 0;
}

.image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: solid #b0d7ff 7px;
}

@media (max-width: 768px) {
  .bio-content {
    flex-direction: column;
    text-align: center;
  }

  .image {
    width: 250px;
    height: 250px;
  }
}
.contact-form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  padding-top: 1%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.form-wrapper {
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  background-image: none;
}

.form-row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  background-color: white;
  background-image: none;
}

.form-group {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: none;
}

.form-group label {
  flex: 1;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: none;
}
.contact-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid #2d3142 0.5px;
  background-color: white;
  border-radius: 10px;
  background-image: none;
}
.contact-form textarea {
  width: 100%;
  height: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid #2d3142 0.5px;
  background-color: white;
  border-radius: 10px;
  background-image: none;
}
.form-message {
  background-color: white;
  background-image: none;
}

.form-message label {
  background-color: white;
  background-image: none;
}
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}
.skills-section,
.experience-section {
  width: 100%;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: white;
  background-image: none;
  margin: 5% auto;
}
.experience-section li,
h4,
h5,
h6 {
  background-color: white;
  background-image: none;
  padding: 10px;
}

.skills-section p {
  background-color: white;
  background-image: none;
}

.button {
  background-color: #b0d7ff;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 12px;
  text-align: center;
  align-content: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-image: none;
}

.button:hover {
  background-color: #eae8ff;
}
.about-section h4 {
  font-size: 23px;
}
.about-section h5 {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}
.about-section h6 {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
}
.project-section {
  margin: 5%;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #b0d7ff;
  box-sizing: border-box;
  margin: 5% auto;
  background-image: none;
}
.project-section img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 15px auto;
  display: block;
}
.video-wrapper {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 1rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.video-wrapper iframe,
.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin-top: 15px;
}
.project-section h5 {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #b0d7ff;
  font-size: 20px;
  border-bottom: solid #2d3142 0.5px;
  background-image: none;
}

.project-section h6 {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #b0d7ff;
  font-size: 20px;
  border-bottom: solid #2d3142 0.5px;
  background-image: none;
}

.project-section p {
  display: flex;
  justify-content: center;
  text-align: justify;
  text-justify: inter-word;
  padding: 6px;
  background-color: #b0d7ff;
  font-size: 15px;
  background-image: none;
}
.project-section a {
  display: flex;
  justify-content: center;
  background-color: #b0d7ff;
  padding: 5px;
  font-weight: bold;
  text-decoration: none;
  background-image: none;
}
.tech-stack {
  font-weight: bold;
  background-image: none;
}

.tech-icons .icon {
  position: relative;
  display: inline-block;
  background-color: transparent;
  background-image: none;
}

.tech-icons {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  background-image: none;
}

.tech-icons img {
  width: 45px;
  height: 45px;
  padding: 5px;
  box-sizing: content-box;
  transition: transform 0.2s ease;
  background-color: transparent;
  background-image: none;
}

.tech-icons img:hover {
  transform: scale(1.1);
}

.tech-icons .icon::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 5px 8px;
  white-space: nowrap;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.tech-icons .icon:hover::after {
  opacity: 1;
}
.calendar {
  background-image: none;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-top: solid #b0d7ff 1.5px;
  box-shadow: 4px 4px 12px rgba(184, 174, 174, 0.396);
  background-color: white;
  padding: 8px 16px;
  background-image: none;
  gap: 1rem;
}
.footer h1 {
  font-weight: normal;
  font-size: 17px;
  padding: 10px 0;
  margin: 0;
  background-color: white;
  background-image: none;
}
.footer-icons {
  display: flex;
  gap: 1rem;
  background-color: white;
  background-image: none;
}
.footer-icons a img {
  width: 45px;
  height: auto;
  vertical-align: middle;
  background-color: white;
  background-image: none;
}
.skills-section h4 {
  font-size: 38px;
  text-underline-offset: 12px;
  text-decoration: underline solid #b0d7ff 8px;
}
.skills-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  align-items: center;
  background-image: none;
  background-color: white;
}

.skill-group {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: none;
  background-color: white;
}

.skill-group h5 {
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
  font-style: normal;
  text-underline-offset: 8px;
  text-decoration: underline solid #b0d7ff 5px;
  font-weight: bold;
}

.skill-box-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-image: none;
  background-color: white;
}

.skill-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-image: none;
  border: solid #b0d7ff 1.5px;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100px;
  text-align: center;
  transition: transform 0.2s ease;
}

.skill-box:hover {
  transform: translateY(-4px);
}

.skill-box img {
  width: 50px;
  height: 50px;
  margin-top: 0.5rem;
  background-image: none;
}

.skill-box p {
  margin: 0;
  font-weight: 500;
}
